@import url('https://webfontworld.github.io/amore/AritaBuri.css');
@font-face {
    font-family: 'JeonHwaseon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/JeonHwaseon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GangwonEduHyeonokT_OTFMediumA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduHyeonokT_OTFMediumA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BBTreeTL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeTL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IropkeBatangM';
    src: url('./IropkeBatangM.woff');
}
@font-face {
    font-family: 'ChosunNm';
    src: url('./ChosunNm.ttf') format('ttf');
}
@font-face {
    font-family: 'MapoGoldenPier';
    src: url('./MapoGoldenPier.ttf');
}
@font-face {
    font-family: 'ChosunKm';
    src: url('./ChosunKm.TTF');
}
@import url('https://hangeul.pstatic.net/hangeul_static/css/NanumNeuRisNeuRisCe.css');



.buri {
    font-family : 'AritaBuri';
}
.hwasun {
    font-family: 'JeonHwaseon';
}
.gangwon {
    font-family: 'GangwonEduHyeonokT_OTFMediumA';
}
.tree {
    font-family: 'BBTreeTL';
}
.Nanum{
    font-family: 'NanumNeuRisNeuRisCe';
}
.Iropke{
    font-family: 'IropkeBatangM';
}
.Chosun{
    font-family: 'ChosunNm';
}
.Mapo{
    font-family: 'MapoGoldenPier';
}
.ChosunK{
    font-family: 'ChosunKm';
}