@import url("https://webfontworld.github.io/amore/AritaBuri.css");

@font-face {
  font-family: "GangwonEduHyeonokT_OTFMediumA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduHyeonokT_OTFMediumA.woff")
    format("woff");
  /* font-weight: normal;
  font-style: normal; */
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="arial"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="arial"]::before {
  content: "Arial";
  font-family: "Arial";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="buri"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="buri"]::before {
  content: "Buri";
  font-family: "AritaBuri";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="gangwon"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="gangwon"]::before {
  content: "Gangwon";
  font-family: "GangwonEduHyeonokT_OTFMediumA";
}

blockquote {
  background: transparent;
  border-left: 10px solid #ccc;
  margin: 5px 0 5px 0;
  padding-left: 16px;
}

.ql-font-arial {
  font-family: Arial;
}

.ql-font-gangwon {
  font-family: "GangwonEduHyeonokT_OTFMediumA";
}

.ql-font-buri {
  font-family: "AritaBuri";
}

.ql-align-right {
  text-align: right;
}
.ql-align-center {
  text-align: center;
}
.ql-align-left {
  text-align: left;
}
.ql-align-justify {
  text-align: justify;
}

.ql-size-small,
.ql-size span[data-value="small"]::before {
  font-size: 12px !important;
}
.ql-size-medium,
.ql-size span[data-value="medium"]::before {
  font-size: 14px !important;
}
.ql-size-large,
.ql-size span[data-value="large"]::before {
  font-size: 18px !important;
}
.ql-size-huge,
.ql-size span[data-value="huge"]::before {
  font-size: 20px !important;
}
/* .ql-font-buri,
.ql-font-buri[data-value="buri"]::before {
  font-family: "AritaBuri";
} */
